<div class="profile-input {{wrapperClass}}">
  <label class="profile-input__label {{labelClass}}">{{label}}</label>
  <input
    class="profile-input__input {{inputClass}}"
    type="{{type}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
    autocomplete="on"
  >
  <p class="profile-input__validation-label {{invalidLabelClass}}">{{errorMessage}}</p>
</div>
