<div class="ds-input {{wrapperClass}}">
  <input class="ds-input__input {{inputClass}}" type="{{type}}" placeholder="{{placeholder}}">
  <label class="ds-input__label {{labelClass}}">{{label}}</label>
  <p class="ds-input__validation-label {{invalidLabelClass}}">{{errorMessage}}</p>
</div>
