<div class="ds-input {{wrapperClass}}">
  <input
    name="{{name}}"
    type="{{type}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
    autocomplete="on"
    class="ds-input__input {{inputClass}}"
  >
  <label class="ds-input__label {{labelClass}}">{{label}}</label>
  <p class="ds-input__validation-label {{invalidLabelClass}}">{{errorMessage}}</p>
</div>
